<p id="notice"><%= notice %></p>
<div class="container">
        <div class="row">
            <div><center><h1>Categorias</h1></center></div>
        </div>
</div>

<div class="container">
  <div class="row row-wrap">
    <% @categoria_anuncios.each do |categoria_anuncio| %>
      
      <a class="col-md-3" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src=<%=image_url("img/botoes/imagem.jpg")%> alt="Image Alternative text" title="Aspen Lounge Chair">
                    </header>
                    <div class="selo">
                    <%= retina_image_tag(categoria_anuncio, :imagem, :thumb, class: 'iconess')%>
                    </div>
                    
                </div>
                <span class="gap3"></span>
                <center><h4><%= categoria_anuncio.nome %>
                    <!--<%= link_to 'Edit', edit_categoria_anuncio_path(categoria_anuncio) %>
                    <%= link_to 'Destroy', categoria_anuncio, method: :delete, data: { confirm: 'Are you sure?' } %>-->
                    </h4>
                </center>
        </a>
    
        
          <% end %>
  

<br>
  </div>
</div>

<%= link_to 'Adicionar Categoria', new_categoria_anuncio_path %>
