<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @categoria_anuncio.nome %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @categoria_anuncio.parent_id %>
</p>

<%= link_to 'Edit', edit_categoria_anuncio_path(@categoria_anuncio) %> |
<%= link_to 'Back', categoria_anuncios_path %>
