<%= form_for(@adesao) do |f| %>
  <% if @adesao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adesao.errors.count, "error") %> prohibited this adesao from being saved:</h2>

      <ul>
      <% @adesao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :validade %><br>
    <%= f.datetime_select :validade %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :tipo_usuario_id %><br>
    <%= f.number_field :tipo_usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
