<p id="notice"><%= notice %></p>

<h1>Listing Adesaos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Valor</th>
      <th>Validade</th>
      <th>Usuario</th>
      <th>Tipo usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adesaos.each do |adesao| %>
      <tr>
        <td><%= adesao.data %></td>
        <td><%= adesao.valor %></td>
        <td><%= adesao.validade %></td>
        <td><%= adesao.usuario_id %></td>
        <td><%= adesao.tipo_usuario_id %></td>
        <td><%= link_to 'Show', adesao %></td>
        <td><%= link_to 'Edit', edit_adesao_path(adesao) %></td>
        <td><%= link_to 'Destroy', adesao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adesao', new_adesao_path %>
