<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @adesao.data %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @adesao.valor %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @adesao.validade %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @adesao.usuario_id %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @adesao.tipo_usuario_id %>
</p>

<%= link_to 'Edit', edit_adesao_path(@adesao) %> |
<%= link_to 'Back', adesaos_path %>
