<p id="notice"><%= notice %></p>

<h1>Listing Conta</h1>

<table>
  <thead>
    <tr>
      <th>Banco</th>
      <th>Nome</th>
      <th>Cpf cnpj</th>
      <th>Agencia</th>
      <th>Conta</th>
      <th>Operacao</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conta.each do |contum| %>
      <tr>
        <td><%= contum.banco %></td>
        <td><%= contum.nome %></td>
        <td><%= contum.cpf_cnpj %></td>
        <td><%= contum.agencia %></td>
        <td><%= contum.conta %></td>
        <td><%= contum.operacao %></td>
        <td><%= contum.usuario_id %></td>
        <td><%= link_to 'Show', contum %></td>
        <td><%= link_to 'Edit', edit_contum_path(contum) %></td>
        <td><%= link_to 'Destroy', contum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contum', new_contum_path %>
