<p id="notice"><%= notice %></p>

<p>
  <strong>Banco:</strong>
  <%= @contum.banco %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @contum.nome %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @contum.cpf_cnpj %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @contum.agencia %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @contum.conta %>
</p>

<p>
  <strong>Operacao:</strong>
  <%= @contum.operacao %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @contum.usuario_id %>
</p>

<%= link_to 'Edit', edit_contum_path(@contum) %> |
<%= link_to 'Back', conta_path %>
