<div id="comment-<%= comment.id %>">
  <li>
    <!-- COMMENT -->
    <article class="comment">
      <div class="comment-author">
        <%= image_tag_with_retina "img/50x50.png", title: "Bubbles", alt: 'Image Alternative Text' %>
      </div>
      <div class="comment-inner"><span class="comment-author-name"><%=comment.usuario.nome%></span>
        <p class="comment-content"><%= comment.comment %></p>
      </div>
    </article>
  </li>
</div>