<%= form_for(@forma_pagamento) do |f| %>
  <% if @forma_pagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forma_pagamento.errors.count, "error") %> prohibited this forma_pagamento from being saved:</h2>

      <ul>
      <% @forma_pagamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imagem %><br>
    <%= f.file_field :imagem, :accept => "image/*" %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
