<p id="notice"><%= notice %></p>

<h1>Listing Forma Pagamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forma_pagamentos.each do |forma_pagamento| %>
      <tr>
        <td><%= forma_pagamento.nome %></td>
        <td><%= link_to 'Show', forma_pagamento %></td>
        <td><%= link_to 'Edit', edit_forma_pagamento_path(forma_pagamento) %></td>
        <td><%= link_to 'Destroy', forma_pagamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forma pagamento', new_forma_pagamento_path %>
