<%= form_for(@carreira) do |f| %>
  <% if @carreira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carreira.errors.count, "error") %> prohibited this carreira from being saved:</h2>

      <ul>
      <% @carreira.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nivel1 %><br>
    <%= f.check_box :nivel1 %>
  </div>
  <div class="field">
    <%= f.label :nivel2 %><br>
    <%= f.check_box :nivel2 %>
  </div>
  <div class="field">
    <%= f.label :nivel3 %><br>
    <%= f.check_box :nivel3 %>
  </div>
  <div class="field">
    <%= f.label :nivel4 %><br>
    <%= f.check_box :nivel4 %>
  </div>
  <div class="field">
    <%= f.label :nivel5 %><br>
    <%= f.check_box :nivel5 %>
  </div>
  <div class="field">
    <%= f.label :nivel6 %><br>
    <%= f.check_box :nivel6 %>
  </div>
  <div class="field">
    <%= f.label :nivel7 %><br>
    <%= f.check_box :nivel7 %>
  </div>
  <div class="field">
    <%= f.label :nivel8 %><br>
    <%= f.check_box :nivel8 %>
  </div>
  <div class="field">
    <%= f.label :nivel9 %><br>
    <%= f.check_box :nivel9 %>
  </div>
  <div class="field">
    <%= f.label :nivel10 %><br>
    <%= f.check_box :nivel10 %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
