<p id="notice"><%= notice %></p>

<h1>Listing Carreiras</h1>

<table>
  <thead>
    <tr>
      <th>Nivel1</th>
      <th>Nivel2</th>
      <th>Nivel3</th>
      <th>Nivel4</th>
      <th>Nivel5</th>
      <th>Nivel6</th>
      <th>Nivel7</th>
      <th>Nivel8</th>
      <th>Nivel9</th>
      <th>Nivel10</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carreiras.each do |carreira| %>
      <tr>
        <td><%= carreira.nivel1 %></td>
        <td><%= carreira.nivel2 %></td>
        <td><%= carreira.nivel3 %></td>
        <td><%= carreira.nivel4 %></td>
        <td><%= carreira.nivel5 %></td>
        <td><%= carreira.nivel6 %></td>
        <td><%= carreira.nivel7 %></td>
        <td><%= carreira.nivel8 %></td>
        <td><%= carreira.nivel9 %></td>
        <td><%= carreira.nivel10 %></td>
        <td><%= carreira.usuario_id %></td>
        <td><%= link_to 'Show', carreira %></td>
        <td><%= link_to 'Edit', edit_carreira_path(carreira) %></td>
        <td><%= link_to 'Destroy', carreira, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carreira', new_carreira_path %>
