<p id="notice"><%= notice %></p>

<p>
  <strong>Nivel1:</strong>
  <%= @carreira.nivel1 %>
</p>

<p>
  <strong>Nivel2:</strong>
  <%= @carreira.nivel2 %>
</p>

<p>
  <strong>Nivel3:</strong>
  <%= @carreira.nivel3 %>
</p>

<p>
  <strong>Nivel4:</strong>
  <%= @carreira.nivel4 %>
</p>

<p>
  <strong>Nivel5:</strong>
  <%= @carreira.nivel5 %>
</p>

<p>
  <strong>Nivel6:</strong>
  <%= @carreira.nivel6 %>
</p>

<p>
  <strong>Nivel7:</strong>
  <%= @carreira.nivel7 %>
</p>

<p>
  <strong>Nivel8:</strong>
  <%= @carreira.nivel8 %>
</p>

<p>
  <strong>Nivel9:</strong>
  <%= @carreira.nivel9 %>
</p>

<p>
  <strong>Nivel10:</strong>
  <%= @carreira.nivel10 %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @carreira.usuario_id %>
</p>

<%= link_to 'Edit', edit_carreira_path(@carreira) %> |
<%= link_to 'Back', carreiras_path %>
