<%= form_for(@mensagem_cupom) do |f| %>
  <% if @mensagem_cupom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mensagem_cupom.errors.count, "error") %> prohibited this mensagem_cupom from being saved:</h2>

      <ul>
      <% @mensagem_cupom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mensagem %><br>
    <%= f.text_field :mensagem %>
  </div>
  <div class="field">
    <%= f.label :cupom_id %><br>
    <%= f.number_field :cupom_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
