<p id="notice"><%= notice %></p>

<h1>Listing Mensagem Cupoms</h1>

<table>
  <thead>
    <tr>
      <th>Mensagem</th>
      <th>Cupom</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mensagem_cupoms.each do |mensagem_cupom| %>
      <tr>
        <td><%= mensagem_cupom.mensagem %></td>
        <td><%= mensagem_cupom.cupom_id %></td>
        <td><%= mensagem_cupom.usuario_id %></td>
        <td><%= link_to 'Show', mensagem_cupom %></td>
        <td><%= link_to 'Edit', edit_mensagem_cupom_path(mensagem_cupom) %></td>
        <td><%= link_to 'Destroy', mensagem_cupom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mensagem cupom', new_mensagem_cupom_path %>
