<p id="notice"><%= notice %></p>

<p>
  <strong>Mensagem:</strong>
  <%= @mensagem_cupom.mensagem %>
</p>

<p>
  <strong>Cupom:</strong>
  <%= @mensagem_cupom.cupom_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @mensagem_cupom.usuario_id %>
</p>

<%= link_to 'Edit', edit_mensagem_cupom_path(@mensagem_cupom) %> |
<%= link_to 'Back', mensagem_cupoms_path %>
