<%= form_for(@banner) do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imagem %><br>
    <%= f.file_field :imagem, :accept => "image/*" %>
  </div>

  <div class="field">
    <%= f.label :geral %><br>
    <%= f.check_box :geral %>
  </div>

  <div class="field">
    <%= f.label "País:" %>
    <%= f.collection_select :pai_id, Pai.all, :id, :nome, :selected => @banner.pai_id, :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label "Estado:" %>
    <%= f.collection_select :estado_id, Estado.where({pai_id: @banner.pai_id}), :id, :nome, :selected => @banner.estado_id, :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label "Cidade:" %>
    <%= f.collection_select :cidade_id, Cidade.where({estado_id: @banner.estado_id}), :id, :nome, :selected => @banner.cidade_id, :include_blank => true  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
