<p id="notice"><%= notice %></p>

<h1>Listing Banners</h1>

<table>
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Geral</th>
      <th>Pais</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= retina_image_tag(banner, :imagem, :thumb)%></td>
        <td><%= banner.geral %></td>
        <td><%= banner.pai_id %></td>
        <td><%= banner.estado_id %></td>
        <td><%= banner.cidade_id %></td>
        <td><%= link_to 'Show', banner %></td>
        <td><%= link_to 'Edit', edit_banner_path(banner) %></td>
        <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner', new_banner_path %>
