<% if current_usuario.liked? likeable %>
    <%= form_tag unlike_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), method: :post, remote: true do %>
        <% button_tag class: 'btn btn-block liked' do %>
            <%= 'fa_icon' 'thumbs-up' %> unlike
        <% end %>

        <%= button_tag(type: "submit", class: "glyphicon glyphicon-heart pull-right redd") do %>
        <% end %>
        <div id="like-count">
          <SMALL><%= likeable.cached_votes_up %></SMALL>
        </div>
    <% end %>
<% else %>
    <%= form_tag like_path(likeable_type: likeable.class.to_s, likeable_id: likeable.id), remote: true do %>
        <%= button_tag(type: "submit", class: "glyphicon glyphicon-heart pull-right redd") do %>
        <% end %>
        <div id="like-count">
          <SMALL><%= likeable.cached_votes_up %></SMALL>
        </div>
    <% end %>
<% end %>