$("#<%= @likeable_type.downcase %>-<%= @likeable.id %> #like").html("<%=j render('likes/form', likeable: @likeable) %>");
$("#<%= @likeable_type.downcase %>-<%= @likeable.id %> #like #like-count").html("<%= @likeable.cached_votes_up %>");