<p id="notice"><%= notice %></p>

<h1>Listing Mensagem Anuncios</h1>

<table>
  <thead>
    <tr>
      <th>Mensagem</th>
      <th>Anuncio</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mensagem_anuncios.each do |mensagem_anuncio| %>
      <tr>
        <td><%= mensagem_anuncio.mensagem %></td>
        <td><%= mensagem_anuncio.anuncio_id %></td>
        <td><%= mensagem_anuncio.usuario_id %></td>
        <td><%= link_to 'Show', mensagem_anuncio %></td>
        <td><%= link_to 'Edit', edit_mensagem_anuncio_path(mensagem_anuncio) %></td>
        <td><%= link_to 'Destroy', mensagem_anuncio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mensagem anuncio', new_mensagem_anuncio_path %>
