<p id="notice"><%= notice %></p>

<p>
  <strong>Mensagem:</strong>
  <%= @mensagem_anuncio.mensagem %>
</p>

<p>
  <strong>Anuncio:</strong>
  <%= @mensagem_anuncio.anuncio_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @mensagem_anuncio.usuario_id %>
</p>

<%= link_to 'Edit', edit_mensagem_anuncio_path(@mensagem_anuncio) %> |
<%= link_to 'Back', mensagem_anuncios_path %>
