<%= form_for(@mensagem) do |f| %>
  <% if @mensagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mensagem.errors.count, "error") %> prohibited this mensagem from being saved:</h2>

      <ul>
      <% @mensagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mensagem %><br>
    <%= f.text_field :mensagem %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :remetente_id %><br>
    <%= f.number_field :remetente_id %>
  </div>
  <div class="field">
    <%= f.label :destinatario_id %><br>
    <%= f.number_field :destinatario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
