<p id="notice"><%= notice %></p>

<h1>Listing Mensagems</h1>

<table>
  <thead>
    <tr>
      <th>Mensagem</th>
      <th>Data</th>
      <th>Remetente</th>
      <th>Destinatario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mensagems.each do |mensagem| %>
      <tr>
        <td><%= mensagem.mensagem %></td>
        <td><%= mensagem.data %></td>
        <td><%= mensagem.remetente_id %></td>
        <td><%= mensagem.destinatario_id %></td>
        <td><%= link_to 'Show', mensagem %></td>
        <td><%= link_to 'Edit', edit_mensagem_path(mensagem) %></td>
        <td><%= link_to 'Destroy', mensagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mensagem', new_mensagem_path %>
