<p id="notice"><%= notice %></p>

<p>
  <strong>Mensagem:</strong>
  <%= @mensagem.mensagem %>
</p>

<p>
  <strong>Data:</strong>
  <%= @mensagem.data %>
</p>

<p>
  <strong>Remetente:</strong>
  <%= @mensagem.remetente_id %>
</p>

<p>
  <strong>Destinatario:</strong>
  <%= @mensagem.destinatario_id %>
</p>

<%= link_to 'Edit', edit_mensagem_path(@mensagem) %> |
<%= link_to 'Back', mensagems_path %>
