<%= form_for(@desconto) do |f| %>
  <% if @desconto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@desconto.errors.count, "error") %> prohibited this desconto from being saved:</h2>

      <ul>
      <% @desconto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cupom_id %><br>
    <%= f.number_field :cupom_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
