<p id="notice"><%= notice %></p>

<p>
  <strong>Cupom:</strong>
  <%= @desconto.cupom_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @desconto.usuario_id %>
</p>

<%= link_to 'Edit', edit_desconto_path(@desconto) %> |
<%= link_to 'Back', descontos_path %>
