<p id="notice"><%= notice %></p>

<h1>Listing Tipo Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_usuarios.each do |tipo_usuario| %>
      <tr>
        <td><%= tipo_usuario.nome %></td>
        <td><%= tipo_usuario.valor %></td>
        <td><%= link_to 'Show', tipo_usuario %></td>
        <td><%= link_to 'Edit', edit_tipo_usuario_path(tipo_usuario) %></td>
        <td><%= link_to 'Destroy', tipo_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo usuario', new_tipo_usuario_path %>
