<p id="notice"><%= notice %></p>

<h1>Listing Enderecos</h1>

<table>
  <thead>
    <tr>
      <th>Bairro</th>
      <th>Logradouro</th>
      <th>Complemento</th>
      <th>Cep</th>
      <th>Pais</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enderecos.each do |endereco| %>
      <tr>
        <td><%= endereco.bairro %></td>
        <td><%= endereco.logradouro %></td>
        <td><%= endereco.complemento %></td>
        <td><%= endereco.cep %></td>
        <td><%= endereco.pais_id %></td>
        <td><%= endereco.estado_id %></td>
        <td><%= endereco.cidade_id %></td>
        <td><%= link_to 'Show', endereco %></td>
        <td><%= link_to 'Edit', edit_endereco_path(endereco) %></td>
        <td><%= link_to 'Destroy', endereco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Endereco', new_endereco_path %>
