<p id="notice"><%= notice %></p>

<p>
  <strong>Bairro:</strong>
  <%= @endereco.bairro %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @endereco.logradouro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @endereco.complemento %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @endereco.cep %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @endereco.pais_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @endereco.estado_id %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @endereco.cidade_id %>
</p>

<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
