<body class="boxed" style="background-image: url(<%=image_url("img/textures/wood-1.jpg")%>);background-size: 1500px 814px;">
  <div class="container">
      <div class="gap"></div>
      <div class="row">
          <div class="col-md-2">
              <a href="index.html">
                  <img src=<%=image_url("img/logo-small.png")%> alt="" title="" />
              </a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <div class="gap"></div>
            <div class="gap"></div>
              <h1 class="text-white">Bem vindo à Isix.</h1>
              <h3 class="text-white">Conecte-se a pessoas e faça negócios.</h3>
              <h3 class="text-white"> Compra, venda, troca, cupom de descontos e anúncios.</h3>
              <div class="row">
                  <div class="gap"></div>
                  <p>Baixe nosso aplicativo grátis.</p>
                  <div class="col-md-3"><img src=<%=image_url("img/appstore.png")%> alt="" title="" /></div>
                  <div class="col-md-3"><img src=<%=image_url("img/googleplay.png")%> alt="" title="" /></div>
                  <div class="col-md-6"></div>
              </div>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="col-md-5">
            <center><h1 class="text-white" >Participe hoje do ISIX</h1></center> 
              <!--<input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1"><br>-->
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'%>
              <!--<input type="password" class="form-control" placeholder="Senha" aria-describedby="basic-addon1"><br> -->
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Senha', class: 'form-control'%>
            <div class="col-md-9">
            <!--<input type="checkbox" name="" value="">-->
              <%= f.check_box :remember_me %> Lembra-me <a href=""> Esqueceu a senha? </a>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-lg"><%= f.submit "Entrar" %></button><br><br>
            </div>
            <% end %>
            <button type="submit" class="btn btn-block btn-primary btn-lg">Entrar com o <strong>Facebook</strong></button><br>
            <button type="submit" class="btn btn-block btn-danger btn-lg">Entrar com o <strong>Google+</strong></button><br>
            <center> <h4> 
              <%= link_to "Não possuo cadastro!", new_usuario_registration_path, class: "text-white" %> </h4>
            </center>
          </div>
      </div>
  </div>
  
</body>