<%= form_for(@retirada) do |f| %>
  <% if @retirada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retirada.errors.count, "error") %> prohibited this retirada from being saved:</h2>

      <ul>
      <% @retirada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :conta_id %><br>
    <%= f.number_field :conta_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
