<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Data</th>
      <th>Usuario</th>
      <th>Conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retiradas.each do |retirada| %>
      <tr>
        <td><%= retirada.valor %></td>
        <td><%= retirada.data %></td>
        <td><%= retirada.usuario_id %></td>
        <td><%= retirada.conta_id %></td>
        <td><%= link_to 'Show', retirada %></td>
        <td><%= link_to 'Edit', edit_retirada_path(retirada) %></td>
        <td><%= link_to 'Destroy', retirada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
