<p id="notice"><%= notice %></p>

<%= form_tag logs_path, :method => 'get', :id => "retiradas_search", remote: true do %>
  <%= datetime_field_tag :inicio, params[:inicio]%>
  <%= datetime_field_tag :fim, params[:fim]%>
  <%= check_box_tag :realizado, params[:realizado]%>
  <%= text_field_tag :search, params[:search], :autocomplete => :off %>
  <button id="search-button" type="submit"><span>Filtrar</span></button>
<% end %>

<h1>Listing Retiradas</h1>

<div id="retiradas">
  <%= render 'retiradas' %>
</div>

<br>

<%= link_to 'New Retirada', new_retirada_path %>
