<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @retirada.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @retirada.data %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @retirada.usuario_id %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @retirada.conta_id %>
</p>

<%= link_to 'Edit', edit_retirada_path(@retirada) %> |
<%= link_to 'Back', retiradas_path %>
