<div class="follow">
  <% if usuario_signed_in? %>
      <% if usuario.followed_by?(current_usuario) %>
          <%= form_tag unfollow_path(usuario_id: usuario.id), method: :post, remote: true do %>
              <%= button_tag '- Seguir', class: 'btn btn-lg btn-ghost', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <% end %>
      <% else %>
          <%= form_tag follow_path(usuario_id: usuario.id), method: :post, remote: true do %>
              <%= button_tag '+ Seguir', class: 'btn btn-lg btn-ghost', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <% end %>
      <% end %>
  <% end %>
</div>