<%= form_for(@curtida_anuncio) do |f| %>
  <% if @curtida_anuncio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curtida_anuncio.errors.count, "error") %> prohibited this curtida_anuncio from being saved:</h2>

      <ul>
      <% @curtida_anuncio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anuncio_id %><br>
    <%= f.number_field :anuncio_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
