<p id="notice"><%= notice %></p>

<h1>Listing Curtida Anuncios</h1>

<table>
  <thead>
    <tr>
      <th>Anuncio</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curtida_anuncios.each do |curtida_anuncio| %>
      <tr>
        <td><%= curtida_anuncio.anuncio_id %></td>
        <td><%= curtida_anuncio.usuario_id %></td>
        <td><%= link_to 'Show', curtida_anuncio %></td>
        <td><%= link_to 'Edit', edit_curtida_anuncio_path(curtida_anuncio) %></td>
        <td><%= link_to 'Destroy', curtida_anuncio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curtida anuncio', new_curtida_anuncio_path %>
