<p id="notice"><%= notice %></p>

<p>
  <strong>Anuncio:</strong>
  <%= @curtida_anuncio.anuncio_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @curtida_anuncio.usuario_id %>
</p>

<%= link_to 'Edit', edit_curtida_anuncio_path(@curtida_anuncio) %> |
<%= link_to 'Back', curtida_anuncios_path %>
