<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imagem %><br>
    <%= f.file_field :imagem, :accept => "image/*" %>
  </div>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br>
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :sobre %><br>
    <%= f.text_field :sobre %>
  </div>
  <div class="field">
    <%= f.label :bloqueado %><br>
    <%= f.check_box :bloqueado %>
  </div>
  <div class="field">
    <%= f.label :mensagem_bloqueio %><br>
    <%= f.text_area :mensagem_bloqueio %>
  </div>
  <div class="field">
    <%= f.label :endereco_id %><br>
    <%= f.number_field :endereco_id %>
  </div>
  <div class="field">
    <%= f.label :tipo_usuario_id %><br>
    <%= f.number_field :tipo_usuario_id %>
  </div>
  <div class="field">
    <%= f.label :grupo_id %><br>
    <%= f.number_field :grupo_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :saldo %><br>
    <%= f.number_field :saldo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
