<div class="tab-pane fade in active" id="tab-1">
  <div class="row row-wrap">
    <% @usuario.anuncios.each do |anuncio| %>
        <a class="col-md-3" href="#">
          <div class="product-thumb">
            <header class="product-header">
              <img src="http://lorempixel.com/600/600/" alt="Image Alternative text" title="Green Furniture" />
            </header>
            <div class="product-inner">
              <p class="product-desciption"><%= anuncio.titulo %></p>
              <%= image_tag_with_retina "img/avatar36x36.png", class: "buton3" %> <%= @usuario.nome %>

              <% if usuario_signed_in? %>
                  <div id="anuncio-<%= anuncio.id %>">
                    <div id="like">
                      <%= render :partial => 'likes/form', :locals => {likeable: anuncio} %>
                    </div>
                  </div>
              <% end %>

            </div>
            <div class="selo2">
              <%= format_currency(anuncio.valor) %>
            </div>
            <div class="selo3">
              <span><small><%= @usuario.tipo_usuario.nome %></small></span><br>
            </div>
          </div>
        </a>
    <% end %>
  </div>
</div>