<div class="tab-pane fade" id="tab-2">
    <div class="row row-wrap">
      <% @usuario.cupoms.each do |cupom| %>
          <a class="col-md-3" href="#">
            <div class="product-thumb">
              <header class="product-header">
                <img src="http://lorempixel.com/600/600/" alt="Image Alternative text" title="Green Furniture" />
              </header>
              <div class="product-inner">
                <p class="product-desciption"><%= cupom.descricao %></p>
                <div class="gap3"></div>
                <center><button class="btn btn-lg btn-ghost" >Gerar código grátis</button></center>
                <div class="gap3"></div>
                <img src="img/avatar36x36.png" class="buton3" alt=""> <%= @usuario.nome %>

                <% if usuario_signed_in? %>
                    <div id="cupom-<%= cupom.id %>">
                        <div id="like">
                            <%= render :partial => 'likes/form', :locals => {likeable: cupom} %>
                        </div>
                    </div>
                <% end %>
              </div>
              <div class="selo4">
                <%= format_currency(cupom.valor) %>
              </div>
              <div class="selo5">
                <%= format_currency(cupom.valor_desconto) %>
              </div>
              <div class="selo6">
                <span><small><%= @usuario.tipo_usuario.nome %></small></span><br>
              </div>
              <div class="selo7">
                <p>50%</p>
              </div>
            </div>
          </a>
      <% end %>
    </div>
</div>