<p id="notice"><%= notice %></p>

<h1>Listing Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Usuario</th>
      <th>Email</th>
      <th>Password</th>
      <th>Telefone</th>
      <th>Sobre</th>
      <th>Bloqueado</th>
      <th>Mensagem bloqueio</th>
      <th>Endereco</th>
      <th>Tipo usuario</th>
      <th>Grupo</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= retina_image_tag(usuario, :imagem, :thumb)%></td>
        <td><%= usuario.nome %></td>
        <td><%= usuario.usuario %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.password %></td>
        <td><%= usuario.telefone %></td>
        <td><%= usuario.sobre %></td>
        <td><%= usuario.bloqueado %></td>
        <td><%= usuario.mensagem_bloqueio %></td>
        <td><%= usuario.endereco_id %></td>
        <td><%= usuario.tipo_usuario_id %></td>
        <td><%= usuario.grupo_id %></td>
        <td><%= usuario.parent_id %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
