<div class="container-fluid display-table">
  <div class="row display-table-row">
    <div class="gap"></div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-6">
          <article class="perfil">
            <div class="perfil-author">
              <%= image_tag_with_retina "img/70x70.png" %>
            </div>
            <div class="pull-left">
              <h2 class="text-white" > <%= @usuario.negocio.nome %></h2>
              <ul class="icon-group icon-list-rating" title="3.3/5 rating">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-half-empty"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><p class="text-white" >12.856</p></li>
                <li><button type="button" class="btn btn-sm btn-ghost " ><%= @usuario.tipo_usuario.nome %>  </button></li>
              </ul>
            </div>
          </article>
        </div>
        <div class="col-md-6">

          <% unless @horarios_funcionamento.blank? %>
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-ghost dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-clock-o"></i> Aberto  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <% @horarios_funcionamento.each do |horario_funcionamento| %>
                      <li><a href="#"><%= horario_funcionamento %></a></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <% if !@telefones.blank? %>
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-ghost dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= @telefones.first[:numero] %>  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <% @telefones.each do |telefone| %>
                      <li><a href="#"><%= telefone[:numero] %></a></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <% if !@meu_perfil %>
              <div class="btn-group">
                <div id="usuario-<%= @usuario.id %>">
                  <div class="follow">
                    <%= render 'follows/form', usuario: @usuario %>
                  </div>
                </div>
              </div>
          <% end %>

          <div class="btn-group">
            <button type="button" class="btn btn-lg btn-ghost dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Convidar Amigos  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Whatsapp</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">E-mail</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>

    <div class="container">
        <div class="row row-wrap">
          <a class="col-md-3" href="#">
            <div class="product-thumb">
              <header class="product-header">
                <%= image_tag_with_retina "img/botoes/galeria.jpg" %>
              </header>
              <div class="selo">
                <%= image_tag_with_retina "img/botoes/botoes/camera.png", class: "iconess" %>
              </div>
            </div>
          </a>

          <a class="col-md-3" href="#">
            <div class="product-thumb">
              <header class="product-header">
                <%= image_tag_with_retina "img/botoes/play.jpg" %>
              </header>
              <div class="selo">
                <%= image_tag_with_retina "img/botoes/botoes/play.png", :class =>"iconess" %>
              </div>
            </div>
          </a>

          <a class="col-md-3" href="#">
            <div class="product-thumb">
              <header class="product-header">
                <%= image_tag_with_retina "img/botoes/mapa.jpg" %>
              </header>
              <div class="selo">
                <%= image_tag_with_retina "img/botoes/botoes/map.png", class: "iconess" %>
              </div>
            </div>
          </a>

          <a class="col-md-3" href="#">
            <div class="product-thumb">
              <header class="product-header">
                <%= image_tag_with_retina "img/botoes/chat.jpg" %>
              </header>
              <div class="selo">
                <%= image_tag_with_retina "img/botoes/botoes/chat.png", class: "iconess" %>
              </div>
            </div>
          </a>


        </div>

      <div class="row row-wrap">
        <center>Compartilhar</center><br>
        <center>
          <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=<%= @_request.original_url %>"><i class="fa fa-facebook-square social"></i> </a>
          <a target="_blank" href="http://twitter.com/share?url=<%= @_request.original_url %>&text=<%= @usuario.nome %>"><i class="fa fa-twitter-square social"></i> </a>
          <a target="_blank" href="https://plus.google.com/share?url=<%= @_request.original_url %>"><i class="fa fa-google-plus-square social"></i> </a>
        </center>
      </div>
    </div>

    <div class="gap"></div>

    <% if !@usuario.negocio.titulo_descricao.blank? && !@usuario.negocio.descricao.blank? %>
        <div class="container" style="background-color: #FFF; border-radius: 10px;">
          <div class="gap"></div>
          <center><h1><%= @usuario.negocio.titulo_descricao %></h1></center><br>
          <center><p><%= @usuario.negocio.descricao %></p></center>
        </div>

        <div class="gap"></div>
        <div class="gap"></div>
    <% end %>


    <% if !@usuario.negocio.html.blank? %>
        <div class="container" style="background-color: #FFF; border-radius: 10px;">
          <div class="col-md-12">
            <%= @usuario.negocio.html.html_safe %>
          </div>
        </div>
    <% end %>


    <div class="gap"></div>

    <div class="container" style="background-color: #FFF; border-radius: 10px;">
      <div class="gap"></div>
      <center><h3><strong>Dicas e avaliações</strong></h3></center>
      <!-- START COMMENTS -->
      <%= form_tag comments_path(commentable_type: @usuario.negocio.class.to_s, commentable_id: @usuario.negocio.id), method: :post, remote: true do %>
          <ul class="comments-list">
            <div id="negocio-<%= @usuario.negocio.id %>">
              <div id="comments">
                <%= render(@comentarios) %>
              </div>
            </div>


            <% if usuario_signed_in? %>
                <div id="text_area">
                  <%= text_area_tag :comment_text, nil, placeholder: 'Escreva suas avaliações aqui', class: 'form-control' %>
                </div>
            <% else %>
                <center><%= link_to "Faça logon para deixar dicas a respeito deste lugar", {controller: "usuarios/sessions", action: "new"}, class: 'btn btn-lg btn-info' %></center>
            <% end %>

          </ul>

          <div class="gap2"></div>
          <% if usuario_signed_in? %>
            <%= submit_tag "Postar", class: 'btn btn-lg btn-ghost pull-right' %>
          <% end %>
      <% end %>
      <!-- END COMMENTS -->
      <div class="gap"></div>
    </div>

    <div class="gap"></div>

    <% if !@usuario.anuncios.blank? || !@usuario.cupoms.blank?  %>
        <div class="container">
          <div class="row row-wrap">
            <div class="col-md-12">
              <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                  <% if !@usuario.anuncios.blank? %>
                      <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-bullhorn tabb"></i> + Anúncios deste usuário</a>
                      </li>
                  <% end %>

                  <% if !@usuario.cupoms.blank?%>
                      <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-tags"></i> + Ofertas deste usuário</a>
                      </li>
                  <% end %>
                </ul>
                <div class="tab-content">
                  <% if !@usuario.anuncios.blank? %>
                      <%= render :partial => 'usuarios/show_anuncios' %>
                  <% end %>

                  <% if !@usuario.cupoms.blank? %>
                      <%= render :partial => 'usuarios/show_ofertas' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>



  </div>
</div>

