<table>
  <thead>
    <tr>
      <th>Acao</th>
      <th>Data</th>
      <th>Usuario</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.acao %></td>
        <td><%= log.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
        <td><%= log.usuario.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>
