<p id="notice"><%= notice %></p>

<%= form_tag logs_path, :method => 'get', :id => "logs_search", remote: true do %>
  <%= datetime_field_tag :inicio, params[:inicio]%>
  <%= datetime_field_tag :fim, params[:fim]%>
  <%= text_field_tag :search, params[:search], :autocomplete => :off %>
  <button id="search-button" type="submit"><span>Buscar</span></button>
<% end %>

<h1>Listing Logs</h1>

<div id="logs">
  <%= render 'logs' %>
</div>

<br>
