<%= form_for(@cupom) do |f| %>
  <% if @cupom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cupom.errors.count, "error") %> prohibited this cupom from being saved:</h2>

      <ul>
      <% @cupom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :subtitulo %><br>
    <%= f.text_field :subtitulo %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :valor_desconto %><br>
    <%= f.text_field :valor_desconto %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :quantidade_total %><br>
    <%= f.number_field :quantidade_total %>
  </div>
  <div class="field">
    <%= f.label :quantidade_pessoa %><br>
    <%= f.number_field :quantidade_pessoa %>
  </div>
  <div class="field">
    <%= f.label :quantidade_dia %><br>
    <%= f.number_field :quantidade_dia %>
  </div>
  <div class="field">
    <%= f.label :regras %><br>
    <%= f.text_field :regras %>
  </div>
  <div class="field">
    <%= f.label :utilizacao_inicio %><br>
    <%= f.date_select :utilizacao_inicio %>
  </div>
  <div class="field">
    <%= f.label :utilizacao_fim %><br>
    <%= f.date_select :utilizacao_fim %>
  </div>
  <div class="field">
    <%= f.label :exibicao_inicio %><br>
    <%= f.date_select :exibicao_inicio %>
  </div>
  <div class="field">
    <%= f.label :exibicao_fim %><br>
    <%= f.date_select :exibicao_fim %>
  </div>
  <div class="field">
    <%= f.label :hora_consumo_inicio %><br>
    <%= f.number_field :hora_consumo_inicio %>
  </div>
  <div class="field">
    <%= f.label :hora_consumo_fim %><br>
    <%= f.number_field :hora_consumo_fim %>
  </div>
  <div class="field">
    <%= f.label :domingo %><br>
    <%= f.check_box :domingo %>
  </div>
  <div class="field">
    <%= f.label :segunda %><br>
    <%= f.check_box :segunda %>
  </div>
  <div class="field">
    <%= f.label :terca %><br>
    <%= f.check_box :terca %>
  </div>
  <div class="field">
    <%= f.label :quarta %><br>
    <%= f.check_box :quarta %>
  </div>
  <div class="field">
    <%= f.label :quinta %><br>
    <%= f.check_box :quinta %>
  </div>
  <div class="field">
    <%= f.label :sexta %><br>
    <%= f.check_box :sexta %>
  </div>
  <div class="field">
    <%= f.label :sabado %><br>
    <%= f.check_box :sabado %>
  </div>
  <div class="field">
    <%= f.label :categoria_cupom_id %><br>
    <%= f.number_field :categoria_cupom_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :forma_pagamento_id %><br>
    <%= f.number_field :forma_pagamento_id %>
  </div>
  <div class="field">
    <%= f.label :forma_pagamento_id %><br>
    <%= f.number_field :forma_pagamento_id %>
  </div>
  <div class="field">
    <%= f.label :endereco_id %><br>
    <%= f.number_field :endereco_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
