<p id="notice"><%= notice %></p>

<h1>Listing Cupoms</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Valor</th>
      <th>Valor desconto</th>
      <th>Descricao</th>
      <th>Quantidade total</th>
      <th>Quantidade pessoa</th>
      <th>Quantidade dia</th>
      <th>Regras</th>
      <th>Utilizacao inicio</th>
      <th>Utilizacao fim</th>
      <th>Exibicao inicio</th>
      <th>Exibicao fim</th>
      <th>Hora consumo inicio</th>
      <th>Hora consumo fim</th>
      <th>Domingo</th>
      <th>Segunda</th>
      <th>Terca</th>
      <th>Quarta</th>
      <th>Quinta</th>
      <th>Sexta</th>
      <th>Sabado</th>
      <th>Categoria cupom</th>
      <th>Usuario</th>
      <th>Forma pagamento</th>
      <th>Forma pagamento</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cupoms.each do |cupom| %>
      <tr>
        <td><%= cupom.titulo %></td>
        <td><%= cupom.subtitulo %></td>
        <td><%= cupom.valor %></td>
        <td><%= cupom.valor_desconto %></td>
        <td><%= cupom.descricao %></td>
        <td><%= cupom.quantidade_total %></td>
        <td><%= cupom.quantidade_pessoa %></td>
        <td><%= cupom.quantidade_dia %></td>
        <td><%= cupom.regras %></td>
        <td><%= cupom.utilizacao_inicio %></td>
        <td><%= cupom.utilizacao_fim %></td>
        <td><%= cupom.exibicao_inicio %></td>
        <td><%= cupom.exibicao_fim %></td>
        <td><%= cupom.hora_consumo_inicio %></td>
        <td><%= cupom.hora_consumo_fim %></td>
        <td><%= cupom.domingo %></td>
        <td><%= cupom.segunda %></td>
        <td><%= cupom.terca %></td>
        <td><%= cupom.quarta %></td>
        <td><%= cupom.quinta %></td>
        <td><%= cupom.sexta %></td>
        <td><%= cupom.sabado %></td>
        <td><%= cupom.categoria_cupom_id %></td>
        <td><%= cupom.usuario_id %></td>
        <td><%= cupom.forma_pagamento_id %></td>
        <td><%= cupom.forma_pagamento_id %></td>
        <td><%= cupom.endereco_id %></td>
        <td><%= link_to 'Show', cupom %></td>
        <td><%= link_to 'Edit', edit_cupom_path(cupom) %></td>
        <td><%= link_to 'Destroy', cupom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cupom', new_cupom_path %>
