<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @cupom.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @cupom.subtitulo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cupom.valor %>
</p>

<p>
  <strong>Valor desconto:</strong>
  <%= @cupom.valor_desconto %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @cupom.descricao %>
</p>

<p>
  <strong>Quantidade total:</strong>
  <%= @cupom.quantidade_total %>
</p>

<p>
  <strong>Quantidade pessoa:</strong>
  <%= @cupom.quantidade_pessoa %>
</p>

<p>
  <strong>Quantidade dia:</strong>
  <%= @cupom.quantidade_dia %>
</p>

<p>
  <strong>Regras:</strong>
  <%= @cupom.regras %>
</p>

<p>
  <strong>Utilizacao inicio:</strong>
  <%= @cupom.utilizacao_inicio %>
</p>

<p>
  <strong>Utilizacao fim:</strong>
  <%= @cupom.utilizacao_fim %>
</p>

<p>
  <strong>Exibicao inicio:</strong>
  <%= @cupom.exibicao_inicio %>
</p>

<p>
  <strong>Exibicao fim:</strong>
  <%= @cupom.exibicao_fim %>
</p>

<p>
  <strong>Hora consumo inicio:</strong>
  <%= @cupom.hora_consumo_inicio %>
</p>

<p>
  <strong>Hora consumo fim:</strong>
  <%= @cupom.hora_consumo_fim %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @cupom.domingo %>
</p>

<p>
  <strong>Segunda:</strong>
  <%= @cupom.segunda %>
</p>

<p>
  <strong>Terca:</strong>
  <%= @cupom.terca %>
</p>

<p>
  <strong>Quarta:</strong>
  <%= @cupom.quarta %>
</p>

<p>
  <strong>Quinta:</strong>
  <%= @cupom.quinta %>
</p>

<p>
  <strong>Sexta:</strong>
  <%= @cupom.sexta %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @cupom.sabado %>
</p>

<p>
  <strong>Categoria cupom:</strong>
  <%= @cupom.categoria_cupom_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @cupom.usuario_id %>
</p>

<p>
  <strong>Forma pagamento:</strong>
  <%= @cupom.forma_pagamento_id %>
</p>

<p>
  <strong>Forma pagamento:</strong>
  <%= @cupom.forma_pagamento_id %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cupom.endereco_id %>
</p>

<%= link_to 'Edit', edit_cupom_path(@cupom) %> |
<%= link_to 'Back', cupoms_path %>
