<p id="notice"><%= notice %></p>


    <% @anuncios.each do |anuncio| %>

      <%= anuncio.titulo %>
      <%= anuncio.subtitulo %>
      <%= anuncio.valor %>
      <%= anuncio.descricao %>
      <%= anuncio.categoria_anuncio_id %>
      <%= anuncio.endereco_id %>
      <%= anuncio.forma_pagamento_id %>
      <%= anuncio.usuario_id %>
      <%= link_to 'Show', anuncio %>
      <%= link_to 'Edit', edit_anuncio_path(anuncio) %>
      <%= link_to 'Destroy', anuncio, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>
  

<%= link_to 'New Anuncio', new_anuncio_path %>

<div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="titulopage">Anúncios</h1>
                        <h4>Fortaleza > Lazer > Cinema</h4>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div>
                <div class="container-fluid">
                <div class="col-md-12">
                    <div class="gap2"></div>
                    <center>
                    <button type="button" class="btn btn-lg btn-ghost">Ingressos</button>
                    <button type="button" class="btn btn-lg btn-ghost">Filmes</button>
                    <button type="button" class="btn btn-lg btn-ghost">Bares</button>
                    <button type="button" class="btn btn-lg btn-ghost">Shoppings</button>
                    <button type="button" class="btn btn-lg btn-ghost">Pizzarias</button>
                    <button type="button" class="btn btn-lg btn-ghost">Cinemas</button>
                    <button type="button" class="btn btn-lg btn-ghost">Restaurantes</button>
                    <button type="button" class="btn btn-lg btn-ghost">Bares</button>
                    <button type="button" class="btn btn-lg btn-ghost">Shoppings</button>
                    <button type="button" class="btn btn-lg btn-ghost">Pizzarias</button>
                    </center>
                    <div class="gap2"></div>
                </div>
            </div>
            </div>
        <div class="gap2"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row row-wrap">
                        <a class="col-md-12" href="#">
                            <div class="product-thumb">
                                <header class="product-header">
                                    <img src=<%=image_url("img/banner.png")%> >
                                </header>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row row-wrap">
                      <a class="col-md-4" href="#">
                        <div class="product-thumb">
                            <header class="product-header">
                              <img src="http://lorempixel.com/600/600/" alt="Image Alternative text" title="Green Furniture" />
                            </header>
                            <div class="product-inner">
                              <p class="product-desciption">Potenti sed blandit venenatis fames suspendisse integer dictumst</p>
                              <img src=<%=image_url("img/avatar36x36.png")%> class="buton3" alt=""> DOM BIFE
                              <span class="glyphicon glyphicon-heart pull-right redd" aria-hidden="true"><SMALL>6</SMALL></span>
                            </div>
                            <div class="selo2">
                              R$ 15,90
                            </div>
                            <div class="selo3">
                              <span><small>PRO-1</small></span><br>
                            </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

