<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @anuncio.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @anuncio.subtitulo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @anuncio.valor %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @anuncio.descricao %>
</p>

<p>
  <strong>Categoria anuncio:</strong>
  <%= @anuncio.categoria_anuncio_id %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @anuncio.endereco_id %>
</p>

<p>
  <strong>Forma pagamento:</strong>
  <%= @anuncio.forma_pagamento_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @anuncio.usuario_id %>
</p>

<%= link_to 'Edit', edit_anuncio_path(@anuncio) %> |
<%= link_to 'Back', anuncios_path %>
