<p id="notice"><%= notice %></p>

<h1>Listing Negocios</h1>

<table>
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Site</th>
      <th>Telefone</th>
      <th>Whatsapp</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>Googleplus</th>
      <th>Descricao</th>
      <th>Abertura</th>
      <th>Fechamento</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @negocios.each do |negocio| %>
      <tr>
        <td><%= retina_image_tag(negocio, :imagem, :thumb)%></td>
        <td><%= negocio.nome %></td>
        <td><%= negocio.site %></td>
        <td><%= negocio.telefone %></td>
        <td><%= negocio.whatsapp %></td>
        <td><%= negocio.facebook %></td>
        <td><%= negocio.instagram %></td>
        <td><%= negocio.googleplus %></td>
        <td><%= negocio.descricao %></td>
        <td><%= negocio.abertura %></td>
        <td><%= negocio.fechamento %></td>
        <td><%= negocio.usuario_id %></td>
        <td><%= link_to 'Show', negocio %></td>
        <td><%= link_to 'Edit', edit_negocio_path(negocio) %></td>
        <td><%= link_to 'Destroy', negocio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Negocio', new_negocio_path %>
