<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @negocio.nome %>
</p>

<p>
  <strong>Site:</strong>
  <%= @negocio.site %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @negocio.telefone %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @negocio.whatsapp %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @negocio.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @negocio.instagram %>
</p>

<p>
  <strong>Googleplus:</strong>
  <%= @negocio.googleplus %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @negocio.descricao %>
</p>

<p>
  <strong>Abertura:</strong>
  <%= @negocio.abertura %>
</p>

<p>
  <strong>Fechamento:</strong>
  <%= @negocio.fechamento %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @negocio.usuario_id %>
</p>

<%= link_to 'Edit', edit_negocio_path(@negocio) %> |
<%= link_to 'Back', negocios_path %>
