<%= form_for(@categoria_cupom) do |f| %>
  <% if @categoria_cupom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria_cupom.errors.count, "error") %> prohibited this categoria_cupom from being saved:</h2>

      <ul>
      <% @categoria_cupom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imagem %><br>
    <%= f.file_field :imagem, :accept => "image/*" %>
  </div>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label "Categoria pai:" %>
    <%= f.collection_select :parent_id, CategoriaCupom.all, :id, :nome, :selected => @categoria_cupom.parent_id, :include_blank => true  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
