<p id="notice"><%= notice %></p>

<h1>Listing Categoria Cupoms</h1>

<table>
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_cupoms.each do |categoria_cupom| %>
      <tr>
        <td><%= retina_image_tag(categoria_cupom, :imagem, :thumb)%></td>
        <td><%= categoria_cupom.nome %></td>
        <td><%= categoria_cupom.parent_id %></td>
        <td><%= link_to 'Show', categoria_cupom %></td>
        <td><%= link_to 'Edit', edit_categoria_cupom_path(categoria_cupom) %></td>
        <td><%= link_to 'Destroy', categoria_cupom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria cupom', new_categoria_cupom_path %>
