<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @categoria_cupom.nome %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @categoria_cupom.parent_id %>
</p>

<%= link_to 'Edit', edit_categoria_cupom_path(@categoria_cupom) %> |
<%= link_to 'Back', categoria_cupoms_path %>
