<ul>
  <% if :is_admin_master? %>
    <li><%= link_to "Usuários",  usuarios_path %></li>
    <li><%= link_to "Logs",  logs_path %></li>
  <% end %>

  <% if :is_marketing? %>
    <li><%= link_to "Formas de pagamento",  forma_pagamentos_path %></li>
    <li><%= link_to "Categorias de anúncio",  categoria_anuncios_path %></li>
    <li><%= link_to "Categorias de cupom",  categoria_cupoms_path %></li>
    <li><%= link_to "Banners",  banners_path %></li>
  <% end %>

  <% if :is_financeiro? %>
    <li><%= link_to "Adesões",  adesaos_path %></li>
    <li><%= link_to "Transações",  adesaos_path %></li>
    <li><%= link_to "Retiradas",  retiradas_path %></li>
  <% end %>
  <li> <%= link_to('Sair', destroy_usuario_session_path, :method => :delete) %> </li>
</ul>
