<!DOCTYPE html>
<html>
<head>
  <title>Isix</title>
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("bootstrap.min") %>
    <%= javascript_include_tag("countdown.min") %>
    <%= javascript_include_tag("flexnav.min") %>
    <%= javascript_include_tag("magnific") %>
    <%= javascript_include_tag("tweet.min") %>
    <%= javascript_include_tag("fitvids.min") %>
    <%= javascript_include_tag("mail.min") %>
    <%= javascript_include_tag("ionrangeslider") %>
    <%= javascript_include_tag("icheck") %>
    <%= javascript_include_tag("fotorama") %>
    <%= javascript_include_tag("card-payment") %>
    <%= javascript_include_tag("owl-carousel") %>
    <%= javascript_include_tag("masonry") %>
    <%= javascript_include_tag("nicescroll") %>
    <%= javascript_include_tag("custom") %>
    <%= stylesheet_link_tag ('bootstrap') %>
    <%= stylesheet_link_tag ('font_awesome') %>
    <%= stylesheet_link_tag ('styles') %>
    <%= stylesheet_link_tag ('mystyles') %>
     
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


  <%= csrf_meta_tags %>
  <meta name="author" content="Gledson Oliveira de Souza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    
</head>
<body>
<header id="nav-header" class="clearfix">
                <div class="col-md-4 valign-top" >
                    <div class="gap2"></div>
                    <div id="nav-header2">
                        <div class="btn-group">
                     <button type="button" class="btn-link text-white " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-bars iconmenu "></i> MENU  <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                                        <li> <%link_to "Editar Anúncios", anuncios_path %> </li>
                                        <li><%link_to "Editar Cupons", cupoms_path %></li>
                                        <li><a href="#">Editar Perfil</a></li>
                                        <li><%link_to "Criar Anúncios", new_anuncio_path %></li>
                                        <li><%link_to "Criar Cupons" , new_cupom_path %> </li>
                                        <li><a href="#">Meus Anúncios</a></li>
                                        <li><a href="#">Meus Cupons</a></li>
                                        <li><a href="#">Convidar amigos</a></li>
                                        <li><a href="#">Menssagens</a></li>
                                        <li><a href="#">Tutoriais</a></li>
                                        <li><a href="#">Informações</a></li>
                                        <li><a href="#">Downloads</a></li>
                                        <li><a href="#">Fale Conosco</a></li>
                     </ul>
                   </div>
                    </div>
                </div>
                <div class="col-md-4 display-table-cell valign-top">
                    <div>
                        <center>
                        <a href="#" class="logo mt5 ">
                         <img src= <%=image_url("img/logo-small-dark.png")%> alt="Image Alternative text" title="Image Title" /></a></center>
                    </div>
                </div>
                <div class="col-md-2 display-table-cell valign-top">
                    <ul class="pull-left">
                        <li class="fixed-width">
                            <a href="#">
                                <img src=<%= image_url("img/avatar36x36.png")%> class="perfil12"></img>
                            </a>
                        </li>
                        <li class="fixed-width">
                            <a href="#">
                                <p class="mini"><span class="glyphicon perfil13" aria-hidden="true">
                                PRO1
                                </span></p>
                            </a>
                        </li>
                    </ul>
                    <article>
                        <div class="pull-left">
                        <% if current_usuario %>
                            <h5 class="text-white perfil13" >  <%=current_usuario.nome%></h5>
                            <%= link_to "Sign out", destroy_usuario_session_path, class: 'text-white perfil13'%>
                        <% else %>
                        <%= link_to "Sign in with Facebook", usuario_omniauth_authorize_path(:facebook), id: "sign_in" %>
                        <% end %>
                        </div>
                    </article>
                </div>
                <div class="col-md-2 display-table-cell valign-top">
                    <ul class="pull-right">
                        <li class="fixed-width">
                            <a href="#">
                                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                <span class="label label-danger">3</span>
                            </a>
                        </li>
                        <li class="fixed-width">
                            <a href="#">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                <span class="label label-danger">4</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="logout">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <form class="search-area form-group search-area-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                            <span class="glyphicon glyphicon-bullhorn gud ativebutton" aria-hidden="true"> 
                                <%= link_to "Anúncios", anuncios_path%>
                                </span>
                            </div>
                            <div class="col-md-2">
                            <a href="">
                                <span class="glyphicon glyphicon-tags gud" aria-hidden="true"> Ofertas</span>
                            </a>
                            </div>
                            <div class="col-md-2">
                            <a href="">
                                <span class="glyphicon glyphicon-map-marker gud" aria-hidden="true"> Ipage</span>
                            </a>
                            </div>
                            <div class="col-md-3 clearfix">
                            <label><i class="fa fa-search"></i><span></span>
                            </label>
                            <div class="search-area-division search-area-division-input">
                                <input class="form-control" type="text" placeholder="Empresas, lugares, etc..." />
                            </div>
                            </div>
                            <div class="col-md-3 clearfix">
                            <label><i class="fa fa-map-marker"></i><span></span>
                            </label>
                            <div class="search-area-division search-area-division-location">
                                <input class="form-control" type="text" placeholder="Sua Cidade" />
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
            </header>
            







<%= yield %>
    
</body>
</html>
